.filter-container {
    margin-block-start: 20px;
    margin-block-end: 20px;

    .search-filter {
        flex-direction: column;
        width:80%;

        .filter-search-bar {
            flex-direction: row;
            .filter-labels {
                width: 30%;
            }
        }
        .filter-btns {
            flex-direction: column;
            margin-block-end: 10px;
        }
    }
}
