.navbar-container {
    display: flex;
    justify-content: space-between;

}
.pagination-container {
    justify-content: center;
    padding: 20px;
    font-size: 2rem;
}

.dashboard-container {
    max-height: 500px;
}
