.store-list-container {
    .store-list-main {
        grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
        grid-auto-rows: 1fr;
        gap:20px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-left: 2px solid #ddd;
        list-style: none;
        text-decoration: none;

        .toy-list {
            height: 100%;
            padding: 20px;
            position: relative;

            .list-btns {
                justify-content: space-between;

                a{
                    &:first-of-type {
                        background-color:#FF9900 ;
                    }
                    &:last-of-type {
                        background-color:#00A699 ;
                    }
                }
                 button {
                    background-color:#FF5A5F ;
                }

                a, button {
                    text-decoration: none;
                    font-size: 1rem;
                    color: #ffffff;
                    padding: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}